*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Lato', sans-serif;
    color: #555;
    font-weight: 500;
    font-size: 20px;
    background: white;
}

h1{
    margin-bottom: 20px;
    font-size: 210%;
    word-spacing: 4px;
    letter-spacing: 1px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-weight: 400;
}
h2{
    font-size: 160%;
    word-spacing: 2px;
    text-align: center;
    letter-spacing: 1px;
    color: white;
    font-weight: 400;
}
h3{
    border-bottom:1px solid #555;
    padding-bottom: 4px;
    padding-top: 10px;
    margin-bottom: 7px;
}
body{
    max-width: 1024px;
    margin: 0 auto;
    background: whitesmoke;
}
header{
    width: 100%;
    text-align: center;
    background: rgb(43, 43, 56);
}

.photo img{
    width: auto;
    height: 200px;
    border-radius: 60%;   
}

main{
    display: flex;
    flex-wrap: wrap;

}
.left{
    flex: 0 1 35%;
    margin: 2%;
    
}
.right{
    flex:1;
    margin: 2%;
    
}
li{
    margin-left: 20px;
    padding-bottom: 4px;
}
main p{
    /* max-width: 90%; */
    text-align: justify;
}
a{
    text-decoration: none;
}